*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  user-select: none;
  overflow-x: hidden;
  height: 5000px;
}
/***************************************** Style for Header Section  ****************************************/


header{
	border-bottom: 3px dotted #EEE;
}
.navbar{
	margin:9px 102px;

}
div.collapse {
	display: flex;
	justify-content:right;
}
div.collapse ul li{
  margin: 5px;
  font-size: 17px;
  font-weight:700;
  color: #333;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
}
div.collapse ul li.active {
	color:#DDD;
}
div.collapse ul li:hover {
	color:#DDD;
}
.dropdown{
	position: relative;
}
 div.drop-page  ul,
 div.drop-Features ul,
 .navsmall ul
  {
    width: 200px;
    margin: 20px auto;
    list-style: none;
    height: 170px;
    background: #EEE;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
    overflow: hidden;
    position: absolute;
    left: 50%;
    top:9%;
    transform: translateX(265px);
    transition: all 0.3s ease 0s;
    display: none;
    z-index: 99;
    
}
  div.drop-page  ul li,
  div.drop-Features ul li,
  .navsmall ul li
  {
    cursor: pointer;
    padding-left:20px;
    height: 45px;
    line-height: 40px;
    transition: all 0.3s ease 0s;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

   div.drop-page ul li:hover,
   div.drop-Features ul li:hover{
   background: #FFF;
   padding-left:10px; 

}
div.drop-Features ul{
    left: 50%;
    top:9%;
    transform: translateX(365px);
    display:none;
   
}

.openmnue{
    flex-direction: column;
    width: 80px;
    height: 40px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    display:none;
}
.openmnue span{
display: block;
margin: 3px auto;
 width: 40%;
 height:3px;
 background: #000;
 text-align: right;
}
.openmnue span.min-width{
	width: 60%;
}
.closemnue{
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 83%;
  top: 11%;
  display: none;

}
.navsmall {
position: relative;
}

.navsmall .small {
 margin-top: 207px;
 transform: translate(-50%,-50%);
 width: 90%;
 height:auto;
 display: none;
 transition: all 0.3s;
}
.navsmall .small li{
 text-align: center;
 font-size: 15px;
  font-weight:700;
  color: #333;
  letter-spacing: 1px;
 transition: all 0.3s;
 padding: 10px;
 height: auto;
}
.navsmall .small li:hover{
opacity: 0.6;
background: #DDD;
}
 
 .navsmall .small li.openPagedrop:hover,
 .navsmall .small li.openfeaturesdrop:hover{
    opacity:1;
    background: none;
 }
 .navsmall .small li.openPagedrop div li,
 .navsmall .small li.openfeaturesdrop div li{
  width: 100%;
  font-size: 12px;
  border-bottom: none;
  border-top: 1px solid #DDD;
 }
 .navsmall .small li.openPagedrop div li:hover,
 .navsmall .small li.openfeaturesdrop div li:hover{
    opacity: 0.6;
    background: #DDD;

 }
 
@media (max-width:1200px) {
  header{
    background: #fff;
    position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
 }
 .navbar{
  
    margin: 12px 50px;
   
   }
.openmnue{
    display: none;
   }
   .closemnue{
    display: none;
  }
  div.drop-Features ul{
    left: 50%;
    top:50px;
    transform: translateX(280px);
    display:none;
   
    }
    div.drop-page ul{
    left: 50%;
    top:50px;
    transform: translateX(170px);
    display:none;
   
    }
 }

@media (max-width:  992px) { 
  header{
   background: #EEE;
   position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
}
  .openmnue{
    display: block;
   }
   .closemnue{
    left:88%;
    display: none;
  }
  .navbar{
  
    margin: 10px 90px;
   
   }
   .navsmall .small {
    margin-top: 210px;
   }
 }

@media  (max-width: 768px) { 
      
  header{
   background: #EEE;
   position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
}
    .navbar{
  
    margin: 12px 90px;
   
   }
   .openmnue{
    display: block;
   }
   .navsmall ul {
  margin-top: 140px;
  } 
  .closemnue{
    display: none;
    left: 85%;
  }
}

@media (max-width: 576px)  { 
	header{
	 background: #EEE;
	 position: absolute;
	 top: 0;
	 width: 100%;
	 border-bottom: 3px dotted #DDD;
	 height:102px;
}
    .navbar{
	
    margin: 12px 22px;
   
   }
   .openmnue{
   	display: block;
   }
   .navsmall ul {
  margin-top: 140px;
  }
.closemnue{
  display: none;
    left: 83%;
  }
}

/***************************************** Style for  Main Section  ****************************************/
section.dotted{
  padding-bottom: 5%;
  border-bottom: 4px dotted #EEE;
}
section.min{
  border-bottom: 4px dotted #EEE;
}
div.photo{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
div.photo img{
  width: 100%;
  height: 100%;
}
div.info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

div.info h2{
    font-size: 52px;
    font-weight: 700;
    color: #FFF;
}

div.info p{
 font-size:19px;
 font-style: italic;
color: #FFF;
}
div.info .bttn,
.img .imgOverlay span{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 150px;
  height: 50px;
  padding: 10px;
  line-height: 50px;
  color: #FFF;
  font-size:13px;
   font-weight: 500;
  transition: all 0.3s;
}
div.info .bttn:hover,
.img .imgOverlay span:hover{
      background: #FFF;
      color: #333;
}

.img{
  width: 100%;
 
  position: relative;
  transition: all 0.3s;
}
.img img{
   width:100%;
   display: block;
   transition: all 0.3s;
  }
  .img .imgDice,
   .img .imgOverlay{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 70%;
  }
  .img .imgDice h4 ,
  .img .imgOverlay h4{
   color: #FFF;
   font-size:24px;
   font-weight: 800;

  }
  .img .imgDice span{
    display: block;
    color: #FFF;
    font-style: italic;
    font-size: 19px;
     font-weight: 500;
  }

 .img .imgOverlay{
  text-align: center;
  width: 90%;
  background: #333;
  color: #FFF;
  top: 50%;
  left: 50%;
  height: 90%;
  padding: 40px;
  display: none;
  opacity: 0.9;
 }
 .img .imgOverlay p{
       width: 100%;
       line-height: 1.5;
  }

.img .imgOverlay span{
  position: absolute;
  left: 27%;
}
.img:hover .imgOverlay{
 display: block;
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  
      div.photo{ 
     
       margin-top: 120px;
       margin-right: 30px;
       height:75%;
   }
   div.info{
     text-align: center;
     margin-top: 60px;
   }
   div.info p{
         width: 300px;
         padding-left: 50px;

   }
   div.info .bttn{
       margin: 30px auto;
       width: 120;
       height: 45px;
   }
   .img .imgOverlay h4{
       margin-top: 65px;
       margin-bottom: 20px;
   }
   .img .imgOverlay p{
          margin: 20px auto;
          font-size: 12px;
          line-height: 1.5;
 
   }
    .img .imgOverlay span{
      left: 30%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   div.photo{ 
     width: 150%;
       margin-top: 100px;
       margin-right: 30px;
       height:85%;
       
   }
   div.info{
     text-align: center;
     margin-top: 10px;
   }
   div.info h2{
      width: 70%;
     margin:-10px 150px ;
   }
    div.info p{
     font-size: 18px;
      width:100%;
      margin:-10px 100px ;
   }
   div.info .bttn{
        margin:-20px 200px ;
   }
   .img{
    width: 150%;
   }
   .img .imgOverlay h4{
       margin-top: 90px;
       margin-bottom: 30px;
   }
   .img .imgOverlay p{
          margin: 20px auto;
          font-size: 20px;
          line-height: 1.5;
 
   }
    .img .imgOverlay span{
      left: 40%;
    }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
       div.photo{ 
        margin-top: 85px;
        width: 107.5%
      
   }  
   .img{
      
      width: 107.5%;
   }
   .Section{
      margin-top: 100px;
   } 
     div.info{
      margin-top: 83px;
     }
    
    div.info p{
    
      margin-bottom: -15px;
   }
   .img .imgOverlay h4{
       margin-top: 90px;
       margin-bottom: 30px;
   }
   .img .imgOverlay p{
          margin: 20px auto;
          font-size: 20px;
          line-height: 1.5;
 
   }
    .img .imgOverlay span{
      left: 40%;
    }
 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
     div.photo{
    
       margin-top: 100px;
       height: 80%;
       
   }
   .img,.Section{ 
    margin-top:87px;
   }
   div.info{
    
     margin-top: 50px;
   }
    .img .imgOverlay{
      opacity: 1;
      padding: 20px;
    }
     .img .imgOverlay h4{
      margin-top: -10px;
     }
   .img .imgOverlay p{
       font-size: 12px;
  }
   .img .imgOverlay span{
         width:120px ;
         height:40px ;
         font-size: 12px;
   }
}

/* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
div.photo{
    
       margin-top: 10px;
       height: 97%;
       
   }
   div.info{
    
     margin-top: 52px;
   }
    .img .imgOverlay{
      opacity: 1;
    }
     .img .imgOverlay h4{
      
     }
   .img .imgOverlay p{
       font-size: 15px;
  }
   .img .imgOverlay span{
         width:120px ;
         height:40px ;
         font-size: 14px;
   }
}





/***************************************** Style for Men's  Section  ****************************************/



section .desc {
  margin-left: 120px;
  margin-top: 100px;
}

section .desc h2{
 font-size: 40px;
 font-weight: 700;
}
section .desc span{
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  color: #a1a1a1;
  font-style: italic;
}
.slider{
  display: inline-block;
}
.thumb{
  position: relative;
  overflow:hidden;
  width: 100%;
}
.polits {
  list-style: none;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 25%;
  transition: 0.4s;
}
.polits li{
  margin-left: 10px;
  border:none;
  background: #FFF;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.polits a{
  color: #000;
  }
.thumb:hover .polits {
   margin-top: -80px;
  }
  .down-content h4{
    font-weight: 800;
  }
   .down-content span{
           color: #999;
           font-weight:600;
           font-size: 20px;
   }
    .items .down-content .stars1 ,.stars2,.stars3{
       font-size: 14px;
       list-style: none;
       width: 100%;
       margin-top: -60px;
       position: absolute;
       left: 28%;
    }
    .down-content .stars1 li,.stars2 li,.stars3 li{
       display: inline-block;
    }
    .items{
      display: inline-block;
    }
.stars3{
  left: 90%;
  transform: translate(850px);
}
.stars2{
  left: 59%;
  transform: translate(-130px);
}




@media (min-width: 376px) and (max-width: 576.98px) {
   section .desc {
  margin-left: 10px;
  margin-top: 50px;
  }
.items{
  width: 100%;
  margin-top: 20px;
  }
.items .thumb {
  width: 100%;
   margin-left: -50px;
  }
.down-content h4{
    font-weight:700;
    margin-left: -50px;
  }
.down-content span{
   font-size: 18px;
    margin-left: -50px;
  }
  .items .down-content .stars1{
  left: 70%;
  }
  .stars3{
  left:30%;
  }
.stars2{
  left: 70%;
  }


}
/* Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 570.98px) and (max-width: 767.98px) {
  section .desc {
  margin-left: 20px;
  margin-top: 50px;
  }
  .thumb {
    margin-left: 10px;
}
.down-content h4{
    font-weight:700;
    margin-left: 15px;
  }
.down-content span{
   font-size: 18px;
    margin-left: 15px;
  }
  .items .down-content .stars1{
  left: 70%;
  }
  .stars3{
  left:30%;
  }
.stars2{
  left: 70%;
  }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
      section .desc {
     margin-left: 10px;
     margin-top: 50px;
  }
  .thumb{
    margin-left: -80px;

  }
  .down-content h4{
    font-weight:700;
    margin-left: -80px;
  }
.down-content span{
   font-size: 18px;
    margin-left: -80px;
  }
  .stars3{
  left:28%;
  }
.stars2{
  left: 69%;
  }
 }

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   .stars3{
  left:28%;
  }
.stars2{
  left: 69%;
  } 
}

/* Extra large devices (large desktops, 1200px and up)
*/
@media (min-width: 1200px) { 
 .stars3{
  left:28%;
  }
.stars2{
  left: 69%;
  } 
}





/***************************************** Style for Explore Section  ****************************************/
.row .desc .pra1{
  font-weight: 600;
    color: #a2a2a2;
    margin-bottom: 40px;
}

.row .desc .pra2{
  margin: 20px 0;
  font-style: italic;
  font-size: 20px;
   font-weight: 500;
}
.row .desc .pra2 i{
   margin: 0 10px;
   font-size: 34px;
   color: #000;
   font-weight: 600;
  }
  .row .desc .pra2 span{
     margin: -20px 0 0 50px;
  font-style: italic;
  color: #000;
  font-size: 20px;
   font-weight: 500;
  }
  .desc .more{
         border: 1px solid #000;
         height:40px;
         font-size: 15px;
         padding: 12px;
         color: #000;
         transition: 0.4s;
  }
  .desc .more:hover{
    background: #000;
    color: #fff;
  }
/***************************************** Style for Social Media Section  ****************************************/
.social{
  margin: 50px auto;
}
.social h2{
font-weight: 800;
}
.social span{
font-style: italic;
color: #a2a2a2;
}
.social-imges{
  letter-spacing: -1;
}
.social-imges .item-img {
cursor: pointer;
  line-height: 0;
  display: inline-block;
  position: relative;
  list-style: none;
  width: 180px;
  transition: .2s;
}
.social-imges .item-img img{
  width: 100%;
  
}
.social-imges .item-img li{
  position: absolute;
  background:#000;
  top:0%;
  left:0%;
  width: 100%;
  height: 180px;
 opacity: 0.7;
 transition: .1s;
 visibility: hidden;
}
.social-imges .item-img li i{
  display: block;
  }
  .social-imges .item-img li span{
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: #fff;
    font-weight: 800;
  }
   .social-imges .item-img li span i{
     padding-top: 7px;
   }
   .social-imges .item-img:hover li{
      visibility: visible;
   }
   @media (min-width: 360px) and (max-width: 570.98px) {
         .social-imges .item-img {
         
          width: 70px;
         } 
         .social-imges .item-img li{
          height: 70px;
         }
         .social-imges .item-img li span{
                font-size: 10px;
         }
         
   }

    @media (min-width:570.98px) and (max-width: 720.98px) {
         .social-imges .item-img {
          width: 80px;
         } 
         .social-imges .item-img li{
          height: 80px;
         }
         .social-imges .item-img li span{
                font-size: 12px;
         }
   }
    @media (min-width: 720.98px) and (max-width: 950.98px) {
         .social-imges .item-img {
          width: 90px;
         } 
         .social-imges .item-img li{
          height: 90px;
         }
         .social-imges .item-img li span{
                font-size: 13px;
         }
   }
    @media (min-width: 950.98px) and (max-width: 1199.98px) {
         .social-imges .item-img {
          width: 100px;
         } 
         .social-imges .item-img li{
          height: 100px;
         }
         .social-imges .item-img li span{
                font-size: 14px;
         }
   }
/***************************************** Style for Footre Section  ****************************************/

.contact-info{
  margin-top: -8%;

}

.contact-info .desc h2{
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    margin: 10px 0;
  }