*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/***************************************** Style for Header Section  ****************************************/


header{
	border-bottom: 3px dotted #EEE;
}
.navbar{
	margin:9px 102px;

}
div.collapse {
	display: flex;
	justify-content:right;
}
div.collapse ul li{
  margin: 5px;
  font-size: 17px;
  font-weight:700;
  color: #333;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
}
div.collapse ul li.active {
	color:#DDD;
}
div.collapse ul li:hover {
	color:#DDD;
}
.dropdown{
	position: relative;
}
 div.drop-page  ul,
 div.drop-Features ul,
 .navsmall ul
  {
    width: 200px;
    margin: 20px auto;
    list-style: none;
    height: 170px;
    background: #EEE;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
    overflow: hidden;
    position: absolute;
    left: 50%;
    top:9%;
    transform: translateX(265px);
    transition: all 0.3s ease 0s;
    display: none;
    
}
  div.drop-page  ul li,
  div.drop-Features ul li,
  .navsmall ul li
  {
    cursor: pointer;
    padding-left:20px;
    height: 45px;
    line-height: 40px;
    transition: all 0.3s ease 0s;
    font-size: 13px;
    font-weight: 400;
    border-bottom: 1px solid #ddd;
}

   div.drop-page ul li:hover,
   div.drop-Features ul li:hover{
   background: #FFF;
   padding-left:10px; 

}
div.drop-Features ul{
    left: 50%;
    top:9%;
    transform: translateX(365px);
    display:none;
   
}

.openmnue{
    flex-direction: column;
    width: 80px;
    height: 40px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    display:none;
}
.openmnue span{
display: block;
margin: 3px auto;
 width: 40%;
 height:3px;
 background: #000;
 text-align: right;
}
.openmnue span.min-width{
	width: 60%;
}
.closemnue{
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  left: 83%;
  top: 11%;
  display: none;

}
.navsmall {
position: relative;
}

.navsmall .small {
 margin-top: 207px;
 transform: translate(-50%,-50%);
 width: 90%;
 height:auto;
 display: none;
 transition: all 0.3s;
}
.navsmall .small li{
 text-align: center;
 font-size: 15px;
  font-weight:700;
  color: #333;
  letter-spacing: 1px;
 transition: all 0.3s;
 padding: 10px;
 height: auto;
}
.navsmall .small li:hover{
opacity: 0.6;
background: #DDD;
}
 
 .navsmall .small li.openPagedrop:hover,
 .navsmall .small li.openfeaturesdrop:hover{
    opacity:1;
    background: none;
 }
 .navsmall .small li.openPagedrop div li,
 .navsmall .small li.openfeaturesdrop div li{
  width: 100%;
  font-size: 12px;
  border-bottom: none;
  border-top: 1px solid #DDD;
 }
 .navsmall .small li.openPagedrop div li:hover,
 .navsmall .small li.openfeaturesdrop div li:hover{
    opacity: 0.6;
    background: #DDD;

 }
 
@media (max-width:1200px) {
  header{
    background: #fff;
    position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
 }
 .navbar{
  
    margin: 12px 50px;
   
   }
.openmnue{
    display: none;
   }
   .closemnue{
    display: none;
  }
  div.drop-Features ul{
    left: 50%;
    top:50px;
    transform: translateX(280px);
    display:none;
   
    }
    div.drop-page ul{
    left: 50%;
    top:50px;
    transform: translateX(170px);
    display:none;
   
    }
 }

@media (max-width:  992px) { 
  header{
   background: #EEE;
   position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
}
  .openmnue{
    display: block;
   }
   .closemnue{
    left:88%;
    display: none;
  }
  .navbar{
  
    margin: 10px 90px;
   
   }
   .navsmall .small {
    margin-top: 210px;
   }
 }

@media  (max-width: 768px) { 
      
  header{
   background: #EEE;
   position: absolute;
   top: 0;
   width: 100%;
   border-bottom: 3px dotted #DDD;
   height:102px;
}
    .navbar{
  
    margin: 12px 90px;
   
   }
   .openmnue{
    display: block;
   }
   .navsmall ul {
  margin-top: 140px;
  } 
  .closemnue{
    display: none;
    left: 85%;
  }
}

@media (max-width: 576px)  { 
	header{
	 background: #EEE;
	 position: absolute;
	 top: 0;
	 width: 100%;
	 border-bottom: 3px dotted #DDD;
	 height:102px;
}
    .navbar{
	
    margin: 12px 22px;
   
   }
   .openmnue{
   	display: block;
   }
   .navsmall ul {
  margin-top: 140px;
  }
.closemnue{
  display: none;
    left: 83%;
  }
}

/***************************************** Style for  Main Section  ****************************************/

/***************************************** Style for Men's  Section  ****************************************/

/***************************************** Style for  Women's Section  ****************************************/

/***************************************** Style for  Kid's Section  ****************************************/

/***************************************** Style for Explore Section  ****************************************/

/***************************************** Style for Social Media Section  ****************************************/

/***************************************** Style for Footre Section  ****************************************/
